h1 {
    color: mediumturquoise;
    font-weight: bolder;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

body {
    background-color :lightseagreen;
    font-family: 'Courier New', Courier, monospace;
}

table {
    height: 50%;
    margin: 40px auto;
    width: 80%;
    background-color: paleturquoise;
    border: 2px solid #eeeeee;
    border-radius: 4px;
    padding: 20px;
}

tr {
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 4px solid #eeeeee;
}

td {
    background-color:aquamarine;
    color: midnightblue !important;
}

td.type {
    text-align: center;
}

thead {
    font-weight: bold;
    color: teal;
    background-color: mediumaquamarine;
}